<div class="new-main">
  <div class="new-content">
    <h1 class="show-place-content">
      <%= @spot.place %>
    </h1>
    <h1 class="show-one-word-content">
      <%= @spot.one_word %>
    </h1>
  </div>
  <div class="show-address">
    <p class="show-address-content">
      <%= @spot.address %>
    </p>
  </div>
  <div class="wide-content-article">
    <div class="show-content">
      <div class="show-image">
        <%= image_tag @spot.image, class: "top-image" %>
      </div>
      <p class="show-thought">
        <%= @spot.thought %>
      </p>
    </div>
  </div>
  <div class="btn-area">
    <ul calss="btn-space">
      <li class="btn-space-edit show-btn">
        <%= link_to '編集', "/spots/#{@spot.id}/edit", class: "show-edit-btn" %>
      </li>
      <li class="btn-space-delete show-btn">
        <%= link_to '削除', "/spots/#{@spot.id}", method: :delete, class: "show-delete-btn" %>
      </li>
    </ul>
  </div>
</div>