<div class="new-main">
  <div class="new-content">
    <p class="page-title">
      User edit
    </p>
    <h1 class="subtitle">
      ユーザー編集
    </h1>
  </div>
  <div class="wide-content-article">
    <article class="article">
      <p class="article-content">
        記事内の誤字脱字のご指摘、記事に関するお問い合わせ、記事掲載の依頼、広告掲載の依頼 等が御座いましたら下記フォームよりお問い合わせ下さい。
      </p>
      <br class="clear">
      <div class="wpcf7">
        <%= form_for(@user) do |f| %>
          <% if @user.errors.any? %>
            <h3>入力した内容にエラーが<%= @user.errors.count %>件あります</h3>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
          <div class="place-space">
            <%= f.label :name, "名前", {class: 'place-logo'} %>
            <%= f.text_field :name, class: "place" %>
          </div>
          <div class="impression-space">
            <%= f.label :from, "出身", {class: 'impression-logo'} %>
            <%= f.text_field :from, class: "impression", placeholder: "例：東京都" %>
          </div>
          <div class="impression-space">
            <%= f.label :age, "年齢", {class: 'impression-logo'} %>
            <%= f.text_field :age, class: "impression", placeholder: "例：20歳" %>
          </div>
          <div class="image-area">
            <%= f.label :image, "ユーザー写真", {class: 'image-logo'} %>
            <%= f.file_field :image, class: "image" %>
          </div> 
          <div class="send">
            <%= f.submit  "Send", class: "send-buttom" %>
          </div>
        <% end %>
      </div>
    </article>
  </div>
</div>