<div class="new-main">
  <div class="new-content">
    <p class="page-title">
      My page
    </p>
    <h1 class="subtitle">
      マイページ
    </h1>
  </div>
  <div class="wide-content-article">
    <div class="user-content">
      <div class="user-page">
        <div class="user-image-space">
          <div class="user-items">
            <%= image_tag @user.image, class: "user-image" %>
          </div>
          <ul class="user-information">
            <li class="name"><%= @user.name %></li>
            <li class="from"><%= @user.from %></li>
            <li class="age"><%= @user.age %></li>
          </ul>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="main-content">
     <div class="wide-content">
      <div class="loop">
         <%= render partial: "spots/spot", collection: @spots %>
      </div>
     </div>
  </div>
</div> 