<!DOCTYPE html>
<html>
  <head>
    <title>Traveler2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header class="header">
        <% unless current_page?(new_user_session_path) || (new_user_registration_path) %>
          <div class="header-menu">
            <div class="header-menu-content">
              <div class="header-menu-items">
                <ul class="header-menu-space">
                  <li class="header-menu-btn">
                    <%= link_to "投稿する",new_spot_path, class: "new-form-btn btn" %>
                  </li>
                  <li class="header-menu-btn">
                    <%= link_to "ホームへ戻る", root_path, class: "home-btn btn" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="header-content">
            <h1 class="main-title">
              <%= link_to "Traveler", root_path ,class: "main-title-buttun" %>
            </h1>
            <p class="site-description">
              さまざまな旅行先を
              <br>
              皆に共有しよう！
            </p>
          </div>
        <% end %>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
