<!DOCTYPE html>
<html>
  <head>
    <title>Traveler2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header-menu">
          <div class="header-menu-content">
            <div class="header-menu-items">
              <ul class="header-menu-space">
                <li class="header-menu-btn">
                  <a href="#" class="new-form-btn btn">
                    投稿する
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="header-content">
          <h1 class="main-title">
            <a href="#" class="main-title-buttun">
              <span class="text-hidden">Traveler</span>
            </a>
          </h1>
        </div>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
